<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Article List</title>
        <link rel="stylesheet" href="public/css/article-list.css" type="text/css"/>
    </head>
    <body>
        <div id="mainContainer">
            <div class="articleListTitle">

                <div class="articleId-searchbar">
                    <input type="search" placeholder="Search Article Id" id="id__article_search"/>
                </div>

                <ul>
                    <li class="homeLink">
                        <a href="./">Home Page</a>
                    </li>
                    <!-- BEGIN article_row_nav -->
                    {% block article_row_nav %}
                    {% endblock %}
                    <!-- END article_row_nav -->
                </ul>
            </div>

            <div class="articleLinks-container">

                <h1>Doc Editor</h1>

<!------------------------ CIRCLES ----------------------------------------------->
                <!-- BEGIN article_editor_header -->
                {% block article_editor_header %}
                {% endblock %}
                 <!-- END article_editor_header -->
<!------------------------ /CIRCLES ----------------------------------------------->

                <div class="new-articleList">
                    <h2 class="subTitles-homePage"><a href="./new_articles_list">New Articles</a></h2>
                    <!-- BEGIN new_articles_row -->
                    {% block recently_inserted_articles_row %}
                    {% endblock %}
                    <!-- END new_articles_row -->
                </div>

                <div class="lastUpdated-articleList">
                    <h2 class="subTitles-homePage"><a href="./last_updated_articles_list">Last Updated</a></h2>
                    <!-- BEGIN last_updated_articles_row -->
                    {% block recently_updated_articles_row %}
                    {% endblock %}
                    <!-- END last_updated_articles_row -->
                </div>
            </div>
        </div>
        {% block scripts %}
            <script>
                function ready(fn) {
                    if (document.readyState != 'loading'){
                        fn();
                    } else {
                        document.addEventListener('DOMContentLoaded', fn);
                    }
                }

                function bootstrap() {
                    const $searchInput = document.getElementById('id__article_search');

                    if (! $searchInput) {
                        console.error('Search input ID not found...');
                        return
                    }

                    $searchInput.addEventListener('', function (e) {
                        const article_id = $searchInput.value;
                        console.debug(`search article_id=${article_id}`);
                    })
                }

                ready(bootstrap);
            </script>
        {% endblock %}
    </body>
</html>
