<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Article List</title>
        {% block styles %}
        {% endblock %}
    </head>
    <body>

        <div id="mainContainer">
            {% block container %}
            {% endblock %}
        </div>

        {% block scripts %}
            {% include 'component/global_js_func.twig' %}
            <script>
                ds__onReady(() => {
                    console.debug('[app:ready]');

                    ds__bindEvent_getElementById('id__article_search', 'keypress', (event) => {
                        if (event.key !== 'Enter') return false;
                        const article_id = event.target.value;
                        console.debug(`search article_id=${article_id} [app:keypress]`);
                        // window.location.replace(`search?article_id=${article_id}`);
                    })
                });
            </script>
        {% endblock %}
    </body>
</html>
