<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Article List</title>
        <link rel="stylesheet" href="public/css/article-list.css" type="text/css"/>
    </head>
    <body>

        <div id="mainContainer">
            <div class="articleListTitle">
                {% block sections %}
                {% endblock %}
            </div>

            <div class="articleLinks-container" id="id__container">
                {% block container %}
                {% endblock %}
            </div>

        </div>

        {% block scripts %}
            {% include 'component/global_js_func.twig' %}
            <script>
                ds__onReady(() => {
                    console.debug('[app:ready]');

                    ds__bindEvent_getElementById('id__article_search', 'keypress', (event) => {
                        if (event.key !== 'Enter') return false;
                        const article_id = event.target.value;
                        console.debug(`search article_id=${article_id} [app:keypress]`);
                        // window.location.replace(`search?article_id=${article_id}`);
                    })
                });
            </script>
        {% endblock %}
    </body>
</html>
