<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Article List</title>
        <link rel="stylesheet" href="public/css/article-list.css" type="text/css"/>
    </head>
    <body>

        <script>
            /*
                We register global simple onReady function (you might not need jquery...)
             */
            function __onReady (bootstrap) {
                if (document.readyState != 'loading'){
                    bootstrap();
                } else {
                    document.addEventListener('DOMContentLoaded', bootstrap);
                }
            }

            /*

             */
            function __bindEvent(querySelector, eventName, listener) {
                const items = document.querySelectorAll(querySelector);
                if (items) {
                    items.addEventListener(eventName, listener)
                } else {
                    console.debug(`${querySelector} not found [app:__bindEvent]`)
                }
            }
        </script>

        <div id="mainContainer">
            <div class="articleListTitle">
                {% block sections %}
                {% endblock %}
            </div>

            <div class="articleLinks-container">
                {% block container %}
                {% endblock %}
            </div>

        </div>
        {% block scripts %}
            <script>
                __onReady(() => {
                    console.debug('[app:ready]');

                    const $searchInput = document.getElementById('id__article_search');

                    if (! $searchInput) {
                        console.error('Search input ID not found...');
                        return
                    }

                    $searchInput.addEventListener('keypress', function (e) {
                        if (e.key !== 'Enter') return;

                        const article_id = $searchInput.value;
                        console.debug(`search article_id=${article_id} [app:keypress]`);
                        // window.location.replace(`search?article_id=${article_id}`);
                    })
                });
            </script>
        {% endblock %}
    </body>
</html>
