<div class="articleId-searchbar">
    <input type="search" placeholder="Search Article Id" id="id__article_search"/>
</div>

<ul>
    <li class="homeLink">
        <a href="./">Home Page</a>
    </li>
    {% for item in sections %}
        <li>
            <a href="./article_list?section_id={{ item.section_id }}&section_name={{ item.section_title }}">
                {{ item.section_title }} <p style="font-size:11px; display:inline;">({{ item.total }})</p>
            </a>
        </li>
    {% endfor %}
</ul>

{% block scripts %}
    <script>
        ds__onReady(() => {
            console.debug('[sections:ready]');
        })
    </script>
{% endblock %}
