{% for item in sections %}
    <li>
        <a href="?section_name={{ item.section_title|replace(' ', '-') }}">
            {{ item.section_title }} <p style="font-size:11px; display:inline;">({{ item.total }})</p>
        </a>
    </li>
{% endfor %}
