{% extends "index.twig" %}

{% block article_list %}
    <h1>{{ section_title }}</h1>

    <div class="buttonsBar">
        {% include 'component/article_action_bar.twig' with {'permissions': permissions} %}
    </div>

    <table class="tdTitle" cellspacing="5" width="100%">
        <tbody>
        <tr>
            <td width="70px">ID</td>
            <td>Title</td>
            <td width="120px" class="date">Last Update</td>
            <td width="120px" style="text-align:right;">Status</td>
            <td width="20px" class="check"><input type="checkbox" name="select_all" id="btn__select_all"></td>
        </tr>
        </tbody>
    </table>

    <!-- BEGIN article_row -->
    <div id="js__article_list">
        {% include 'component/article_table_index.twig' with {'articles': articles, 'checkbox': true} %}
    </div>
    <!-- END article_row -->

    <div class="buttonsBar btm">
        {% include 'component/article_action_bar.twig' with {'permissions': permissions} %}
    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        ds__onReady(() => {
            console.debug('[article_list:ready]');
            const timings = '{{ timings_json|raw }}';
            console.debug(JSON.parse(timings), '[article_list:timings]');

            /*
                Article list select/deselect all
             */
            ds__bindEvent_getElementById('btn__select_all', 'change', (event) => {
                const $change_list = document.querySelectorAll('input.article_status[type=checkbox]');
                $change_list.forEach((element) => {
                    element.checked = event.target.checked
                });
                console.debug('well done [article_list:checked]')
            })
        });
    </script>
{% endblock %}



